body{
    background-color: rgb(146, 189, 174);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 2em;
    padding: 0.2em  0.8em;
    margin: 10px;
    border: 1px solid white;
    background-color: rgb(245, 181, 102);
    border-radius: 5%;
}
.display{
    font-size: 2em;
    color: #1a0202;
}
.score{
    font-size: 40px;
 
    margin: 10px;
}

.win{
    font-size: 4em;
    color: #ec0e0e;
}